<mat-card class="product-card" *ngIf="this.product">
  <mat-card-header>
    <mat-card-title class="product-card-name">{{this.product.title}}</mat-card-title>
    <mat-card-subtitle class="product-card-brand">{{this.product.genre}}</mat-card-subtitle>
    <mat-card-subtitle class="product-card-description">{{this.product.releaseYear}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!this.simple">
    <h4 class="product-card-category">Category: {{this.product.platform}}</h4>
    <h4 class="product-card-store">Store: {{this.product.developer}}</h4>
    <p class="product-card-location">Location: {{this.product.contentRating}}</p>
    <h3 class="product-card-lifespan">Lifespan: {{this.product.unitsSold}}</h3>
    <h3 class="product-card-threshold">Threshold: {{this.product.totalRevenue}}</h3>

  </mat-card-content>
</mat-card>
